<table border="1">
    <tr>
        <th>Roll No</th>
        <th>Student Name</th>
        <th>Access No</th>
        <th>ISBN</th>
        <th>Book Name</th>
        <th>Due Date</th>
        <th>Status</th>
    </tr>

    {% for t in transactions %}
    <tr>
        <td>{{ t.Owned_by.Roll_no }}</td>
        <td>{{ t.Owned_by.Name }}</td>
        <td>{{ t.Access_no }}</td>
        <td>{{ t.Access_no.ISBN.ISBN }}</td>
        <td>{{ t.Access_no.ISBN.Book_name }}</td>
        <td>{{ t.Due_date }}</td>
        <td>{{ t.Status }}</td>
    </tr>
    {% endfor %}
</table>