{% load static %}

<header class="bg-[#d7c1a3] shadow-[0_2px_6px_rgba(120,85,60,0.4)]">
    <script src="https://cdn.tailwindcss.com"></script>

    <nav class="max-w-7xl mx-auto px-6 py-3 flex items-center justify-between">

        <a href="{% url 'home' %}">
            <img src="{% static 'logo.jpg' %}" 
                 alt="Logo" 
                 class="h-20 w-20 mr-3 rounded-lg border border-[#b08968]" />
        </a>

        <h1 class="text-2xl font-bold text-[#5c3b27] tracking-wide">
            OLMS Portal
        </h1>

        <div class="space-x-4">

            <a href="{% url 'register' %}"
               class="px-4 py-2 text-sm font-medium 
                      bg-[#b08968] text-[#f3e9dd] 
                      rounded-xl hover:bg-[#a07857] transition">
                Register
            </a>

            <a href="{% url 'login' %}"
               class="px-4 py-2 text-sm font-medium 
                      border border-[#b08968] text-[#5c3b27]
                      rounded-xl hover:bg-[#c3a489] transition">
                Login
            </a>

        </div>
    </nav>
</header>
