
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<!-- NAVIGATION BAR -->
<nav class="bg-[#111827] shadow-md">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex items-center justify-between py-4">

            <!-- Student Portal Title -->
            <div class="text-[#F9FAFB] text-xl font-bold">
                <h1>Student Portal</h1>
            </div>

            <!-- Navigation Menu -->
            <ul class="flex space-x-8 text-[#F9FAFB] font-semibold text-lg">

                
                <li>
                    <a href="{% url 'sthome' %}" class="hover:text-[#9CA3AF] transition duration-200">Home</a>
                </li>

               

                

                <li>
                    <a href="{% url 'myreservations' %}" class="hover:text-[#9CA3AF] transition duration-200">My Reservations</a>
                </li>
                <li>
                    <a href="{% url 'online_books_students' %}" class="hover:text-[#9CA3AF] transition duration-200">online books</a>
                </li>
                <li>
                    <a href="{% url 'stlogout' %}" class="hover:text-[#9CA3AF] transition duration-200">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>






